mixin colorsList("title", "subtitle")
  li.colors-kit__item
    .colors-kit__semple
    .colors-kit__defenition
      p.colors-kit__title #{title}
      p.colors-kit__subtitle #{subtitle}
mixin fontsList("title","desc")
  li.fonts-kit__item
    .fonts-kit__defenition #{title}
    .fonts-kit__semple(class=fonts-kit__semple) #{desc}
block content
  .colors-type
    .logo
      +picture("icons", "logo-monocrome")
    .container
      ul.colors-kit
        +colorsList("Dark Shade 100%", "#1F2041")
        +colorsList("Dark Shade 75%", "#1F2041")
        +colorsList("Dark Shade 50%", "#1F2041")
        +colorsList("Dark Shade 25%", "#1F2041")
        +colorsList("Dark Shade 5%", "#1F2041")
        +colorsList("Purple", "#BC9CFF")
        +colorsList("Green", "#6FCF97")
      ul.fonts-kit
        +fontsList("h1","This one is the sub-section or widget title")
        +fontsList("h2","Next one is the item title inside widgets")
        +fontsList("h3","This is a label or CTA text")
        +fontsList("body","This is the body text which is used for most of the design, like paragraphs, lists, etc.")