
mixin dropdownSelect(items, withButtons, inputTitle, inputPlaceholder, inputValue)
  - var isEachCountNull = true
  for item, index in items
    if item.count > 0
      - isEachCountNull = false   
  .input__select
    label
      h3= inputTitle
      .input__area
        span.input__icon-down.input__icon-down--dark
          i.material-icons expand_more
        input.input__input(
          placeholder=inputPlaceholder
          name="input-dropdown"
          value=inputValue
          autocomplete="off") 
    .dropdown
      ul.dropdown__list
        for item, index in items
          li.dropdown__item(data-countword= item.countWord data-index= index)
            span.dropdown__title= item.title
            .dropdown__counter
              button.dropdown__select-count-btn(type="button" data-action="desc" disabled= item.count == 0) -
              span.dropdown__count= item.count
              button.dropdown__select-count-btn(type="button" data-action="asc" disabled= item.count >= 5) +
      if withButtons
        .dropdown__footer
          - var clearClasses = "dropdown__buttons"
            if isEachCountNull
              - clearClasses = `${clearClasses} dropdown__buttons--hide`
          div(class= clearClasses)
            button.dropdown__button-clear(type="button" data-action="clear") Очистить
          .dropdown__buttons
            button.dropdown__button-apply(type="button" data-action="hide") Применить
          