mixin textInput(title, placeholder, name, className, type, value) 
  label
    h3= title   
      input(
        class=className
        type=type
        placeholder=placeholder
        name=name
        required)