
mixin dropdownSelect(items, withButtons, inputTitle, inputPlaceholder, inputValue)
  mixin dropdownInput(title, placeholder, value)
    label
      h3= title
        .input__select-layer
          .input__area
            span.input__icon-down
              i.material-icons expand_more
            input(
              placeholder=placeholder
              name="input-dropdown"
              value=value
              required
              autocomplete="off") 
  +dropdownInput(inputTitle, inputPlaceholder, inputValue)
  .dropdown
    ul.dropdown__list
      for item, index in items
        li.dropdown__item(data-countword= item.countWord || "" data-index= index)
          span.dropdown__title= item.title
          .dropdown__counter
            .dropdown__decrement(data-action="desc" disabled= item.count === 0) -
            span.dropdown__count= item.count
            .dropdown__increment(data-action="asc" disabled= item.count >= 5) +
    if withButtons
      .dropdown__footer
        mixin dropdownButton(name, className)
          .dropdown__buttons
            button(class= className, type="button")&attributes(attributes)= name
        +dropdownButton("Очистить", "dropdown__button-clear")(data-action="clear")
        +dropdownButton("Применить", "dropdown__button-apply")(data-action="hide")
