
mixin dropdownSelect(items, withButtons, inputTitle, inputPlaceholder, inputValue)
  .input__select
    mixin dropdownInput(title, placeholder, value)
      label
        h3= title
        .input__area
          span.input__icon-down.input__icon-down--dark
            i.material-icons expand_more
          input.input__input(
            placeholder=placeholder
            name="input-dropdown"
            value=value
            required
            autocomplete="off") 
    +dropdownInput(inputTitle, inputPlaceholder, inputValue)
    .dropdown
      ul.dropdown__list
        for item, index in items
          li.dropdown__item(data-countword= item.countWord || "" data-index= index)
            span.dropdown__title= item.title
            .dropdown__counter
              .dropdown__select-count-btn(data-action="desc" disabled= item.count === 0) -
              span.dropdown__count= item.count
              .dropdown__select-count-btn(data-action="asc" disabled= item.count >= 5) +
      if withButtons
        .dropdown__footer
          mixin dropdownButton(name, className)
            .dropdown__buttons
              button(class= className, type="button")&attributes(attributes)= name
          +dropdownButton("Очистить", "dropdown__button-clear")(data-action="clear")
          +dropdownButton("Применить", "dropdown__button-apply")(data-action="hide")
