
mixin picture(directory, name, id)  
    img(id=id src="./assets/img/" + directory + '/' + name + '.png', class=name + "-img", alt=name)
mixin dataInput(title, placeholder, name, className, type)
  label
    h3 #{title}
    input(
      class=className
      type=type
      placeholder=placeholder
      name=name
      required )
mixin logoGroup(className)
  .logo-group(class=className)
    a.logo-group__link(href="/home.html")
      img(src="./assets/img/icons/logo-group.png" alt="TOXIN")
mixin buttons(className, text, link)
  if (className === "btn--arrow")
    a.btn(class=className href="/"+ link) #{text}
      i.material-icons arrow_forward
  else
    a.btn(class=className href="/"+ link) #{text}