
mixin picture(directory, name, id)  
    img(id=id src="./assets/img/" + directory + '/' + name + '.png', class=name + "-img", alt=name)
mixin dataInput(title, placeholder, name, className)
  label
    h3 #{title}
    input(
      class=className
      placeholder=placeholder
      name=name
      required )
mixin logoGroup(className)
  .logo-group(class=className)
    a.logo-group__link(href="/home.html")
      img(src="./assets/img/icons/logo-group.png" alt="TOXIN")
//-mixin buttonWhithArrow(className, text, link)     
  .btn(class=className + "-btn")
    a.btn__link(href="/" + link)=text
      i.material-icons.btn__icon-arrow arrow_forward
//-mixin buttonWhithBorder(className, text, link)      
  .header__btn-wrap
    .header__ent-btn.btn
      a.header__ent-link(href="/sign-in.html") войти 
mixin buttons(className, text, link)
  if (className === "btn--arrow")
    a.btn(class=className href="/"+ link) #{text}
      i.material-icons arrow_forward
  else
    a.btn(class=className href="/"+ link) #{text}