
mixin picture(directory, name, id)  
    img(id=id src="./assets/img/" + directory + '/' + name + '.png', class=name + "-img", alt=name)
mixin dataInput(title, placeholder, name, className)
  label.intro__label
    .intro__title #{title}
    input.intro__input(
      class=className
      placeholder=placeholder
      name=name
      required )