
mixin picture(directory, name, id)  
    img(id=id src="./assets/img/" + directory + '/' + name + '.png', class=name + "-img", alt=name)
mixin dataInput(title, placeholder, name, className, type, value)
  if (name === "input-dropdown")
    label
      h3 #{title}
      span.dropdown.datepicker-here 
        button.dropdown__btn(type="button")
          i.material-icons.dropdown__icon expand_more
        input(
          class=className
          type=type
          placeholder=placeholder
          name=name
          value=value
          required )
      //-span.dropdown
        button.dropdown__btn(type="button")
          i.material-icons.dropdown__icon expand_more
  else        
    label
      h3 #{title}
      input(
        class=className
        type=type
        placeholder=placeholder
        name=name
        required )
mixin logoGroup(className)
  .logo-group(class=className)
    a.logo-group__link(href="/home.html")
      img(src="./assets/img/icons/logo-group.png" alt="TOXIN")
mixin buttons(className, text, link)
  if (className === "btn--arrow")
    a.btn(class=className href="/"+ link) #{text}
      i.material-icons arrow_forward
  else
    a.btn(class=className href="/"+ link) #{text}
mixin starsRating(rate=0)
  .stars-rating
    - for (let i=0; i<5; i++)
      if rate>i
        i.material-icons star
      else 
        i.material-icons star_border
mixin numWithSpaces(num)
  != num.toString().replace(/(\d)(?=(\d{3})+$)/g, '$1 ')+ "₽"