extends ../layout/index.pug
block content
  include ../includes/modules/header.pug
  
  main.main
    .catalog
      .container
        .catalog__wrap
          aside.catalog__filter.filter
            form.filter__form(action="" method="")
              .filter__date
                +dataInput("даты пребывания в отеле", "ДД.ММ.ГГГГ", "input-dropdown", "filter__input--date", "", '19 авг - 23 авг')
              .filter__guests
                +dataInput("гости", "Сколько гостей", "input-dropdown","filter__input--guests", "", '3 гостя, 1 младенец')
              .filter__range
                .filter__range-title
                  h3 Диапазон цены
                  span#unconstrained-values
                #unconstrained
                p.filter__range-subtitle Стоимость за сутки пребывания в номере
              .filter__rules
                h3.filter__rules-h3 правила дома
                ul.filter__rules-list
                  - let inputRules = [{id:"rule1",title:"Можно курить"}, {id:"rule2",title:"Можно с питомцами",checked:"true"}, {id:"rule3",title:"Можно пригласить гостей(до 10 человек)",checked:"true"}]
                    each item in inputRules
                      li.checkbox.filter__rules-item
                        input.checkbox__input(
                          class="" 
                          type="checkbox"
                          id= item.id
                          checked= item.checked
                          )
                        label.checkbox__label.filter__rules-label(for= item.id)= item.title
              .filter__access
                h3.filter__access-h3 доступность
                ul.filter__access-list
                  - let inputAccess = [{id:"access1",title:"Широкий коридор", subtitle:"Ширина коридоров в номере не менее 91 см."}, {id:"access2",title:"Помощник для инвалидов", subtitle:"На 1 этаже вас встретит специалист  и проводит до номера."}]
                    each item in inputAccess
                      li.checkbox.filter__access-item
                        input.checkbox__input.filter__access-input(
                          class="" 
                          type="checkbox"
                          id= item.id
                          checked= item.checked
                          )
                        label.checkbox__label.filter__access-label(for= item.id)
                          h3.filter__access-title=item.title
                          p.filter__access-sublabel=item.subtitle
              .filter__value
                +dataInput("удобства номера", "Сколько гостей", "input-dropdown","filter__input--value", "", '2 спальни, 2 кровати...') 
              .filter__add
                details.filter__add-details
                  summary.filter__add-summary 
                    h3 дополнительные удобства
                  ul.filter__add-list
                    - let inputAdd = [{id:"add1",title:"Завтрак"}, {id:"add2",title:"Письменный стол",checked:"true"},{id:"add3",title:"Стул для кормления",checked:"true"},{id:"add4",title:"Кроватка",checked:"true"},{id:"add5",title:"Телевизор"},{id:"add6",title:"Шампунь"}]
                    each item in inputAdd
                      li.checkbox.filter__add-item
                        input.checkbox__input.filter__add-input(
                          class="" 
                          type="checkbox"
                          id= item.id
                          checked= item.checked
                          )
                        label.checkbox__label.filter__access-label(for= item.id)=item.title       
          section.catalog__rooms.rooms
            h1.rooms__h1 Номера, которые мы для вас подобрали
            ul.rooms__list
              li.rooms__card
                .rooms__photos
                  +picture("search-rooms", "888")
                  +picture("search-rooms", "888")
                  +picture("search-rooms", "888")
                  +picture("search-rooms", "888")
                a.rooms__details(href="room-details")
                  .rooms__details--wrap
                    .rooms__value
                      .rooms__appartment 
                        span.rooms__num № 888
                        span.rooms__status люкс
                      .rooms__coast <span>9 990₽</span> в сутки
                    .rooms__reiting
                      .rooms__stars
                      .rooms__reviews <span>145</span> Отзывов
              li.rooms__card
                .rooms__photos
                  +picture("search-rooms", "840")
                  +picture("search-rooms", "352")
                  +picture("search-rooms", "444")
                  +picture("search-rooms", "352")
              li.rooms__card
                .rooms__photos
                  +picture("search-rooms", "980")
                  +picture("search-rooms", "352")
                  +picture("search-rooms", "444")
                  +picture("search-rooms", "352")
              li.rooms__card
                .rooms__card-wrap
              li.rooms__card
                .rooms__card-wrap
              li.rooms__card
                .rooms__card-wrap  
  include ../includes/modules/footer.pug