extends ../layout/index.pug
block content
  include ../includes/modules/header.pug
  
  main.main
    .catalog
      .container
        .catalog__wrap
          aside.catalog__filter.filter
            form.filter__form(action="" method="")
              .filter__date
                +dataInput("даты пребывания в отеле", "ДД.ММ.ГГГГ", "input-dropdown", "filter__input--date", "", '19 авг - 23 авг')
              .filter__guests
                +dataInput("гости", "Сколько гостей", "input-dropdown","filter__input--guests", "", '3 гостя, 1 младенец')
              .filter__range
                .filter__range-title
                  h3 Диапазон цены
                  span#unconstrained-values
                #unconstrained
                p.filter__range-subtitle Стоимость за сутки пребывания в номере
              .filter__rules
                h3.filter__rules-h3 правила дома
                ul.filter__rules-list
                  - let inputRules = [{id:"option1",title:"Можно курить"}, {id:"option2",title:"Можно с питомцами",checked:"true"}, {id:"option3",title:"Можно пригласить гостей(до 10 человек)",checked:"true"}]
                    each item in inputRules
                      li.checkbox.filter__rules-item
                        input.checkbox__input(
                          class="" 
                          type="checkbox"
                          id= item.id
                          checked= item.checked
                          )
                        label.checkbox__label.filter__rules-label(for= item.id)= item.title

          section.catalog__rooms
  include ../includes/modules/footer.pug