extends ../layout/layout.pug
include ../layout/mixins.pug
include ../modules/dropdown-select-counters/dropdown-select-counters.pug
include ../modules/total-calc-card/total-calc-card.pug
include ../modules/donut-chart/donut-chart.pug
include ../modules/reviews/reviews.pug
include ../modules/buttons/buttons.pug
include ../modules/input/input.pug

block head
  -var roomNum = 800
  title= "Номер " + roomNum + " в отеле Toxin" 
  
block content
  include ../modules/header/header.pug
  - var roomDetails = [{className:"details__gallery--main",name:"room-exemple1",alt:""},{className:"details__gallery--up",name:"room-exemple2",alt:""},{className:"details__gallery--low",name:"room-exemple3",alt:""}]

  - var intelligenceItems = [{icon: "tag_faces", descrTitle: "Комфорт", descrParagraph: "Шумопоглощающие стены"},{icon: "location_city", descrTitle: "Удобство", descrParagraph: "Окно в каждой из спален"}, {icon: "whatshot", descrTitle: "Уют", descrParagraph: "Номер оснащён камином"}]

  - var reviewsItems= [{count:11, customerName:"Мурад Сарафанов",wrightAgo:"5 дней назад", paragraph:"Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей."},{count:2, customerName:"Патрисия Стёклышкова",wrightAgo:"Неделю назад", paragraph:"Обслуживание на высоте! Всё аккуратно, чисто. Завтраки в номер советую заказать, каждый день новое блюдо и десерт как комплимент"}]

  main.main
    .details
      .details__intro
        mixin fotoRoomDetails()
          each photo in roomDetails
            .details__gallery(class=photo.className)
              img(src="./assets/img/background/" + photo.name + '.png', alt=photo.alt)
        +fotoRoomDetails()
      .details__info
        .container
          .details__columns
            .details__columns-left
              .details__boost
                .details__intelligence.intelligence
                  h2.intelligence__h2 Сведения о номере
                  ul.intelligence__list
                    mixin intelligenceList()
                      each point in intelligenceItems
                        li.intelligence__item
                          .intelligence__emogy
                            i.material-icons.intelligence__icon= point.icon
                          .intelligence__descr
                            h3.intelligence__descr-h3= point.descrTitle
                            p.intelligence__decr-p= point.descrParagraph     
                    +intelligenceList()
                +pieChart(130,65,65,0)
              +reviewsList()
              .details__end
                .details__rules
                  h2.details__rules-h2 Правила
                  ul.details__rules-list
                    -let rulesList=["Нельзя с питомцами","Без вечеринок и мероприятий","Время прибытия — после 13:00, <br>а выезд до 12:00"]
                      each item in rulesList
                        li.details__rules-item !{item}
                .details__cancel
                  h2.details__cancel-h2 Отмена
                  .details__cancel-p Бесплатная отмена в течение 48 ч. После <br>этого при отмене не позднее чем за 5 дн. до прибытия вы получите полный возврат за вычетом сбора за услуги.
            .details__columns-right
              +totalCalc(9990,4,roomNum,true,-2179, 300)           
  include ../modules/footer/footer.pug 